version: "3.9"

services:
  app:
    build: ./docker/php
    container_name: painter_app
    volumes:
      - ./src:/var/www/html
    working_dir: /var/www/html
    depends_on:
      - db

  web:
    image: nginx:alpine
    container_name: painter_nginx
    ports:
      - "8081:80"
    volumes:
      - ./src:/var/www/html
      - ./docker/nginx/default.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - app

  db:
    image: mysql:8.0
    container_name: painter_db
    environment:
      MYSQL_DATABASE: painter_matching
      MYSQL_USER: laravel
      MYSQL_PASSWORD: secret
      MYSQL_ROOT_PASSWORD: root
    ports:
      - "3307:3306"
    volumes:
      - db-data:/var/lib/mysql

  node:
    image: node:20-alpine
    container_name: painter_node
    working_dir: /var/www/html
    volumes:
      - ./src:/var/www/html
    command: sh -lc "npm install && npm run build"

volumes:
  db-data: